<h1>
<%= @company.name.titleize %>
</h1>
<p>
<%= @company.industry.titleize %>
</p>
<%= link_to "Create New Job", new_job_path(@company), class:'btn btn-primary' %>
<br />
<br />

<h3>
Job Opportunities
</h3>
<% @sorted = @company.jobs.sort_by {|job| job.created_at} %>
<% @sorted.reverse.each do |job| %>
<% if !job.link.include? "http" %>
<% job.link = 'http://' + job.link %>
<% end %>
<li>
  <%= link_to (job.title.titleize), "#{job.link}", class:'' %>
  (<%= job.location.upcase %>)
  <% if job.deadline? %>
  *Deadline:
  <%= job.deadline.strftime("%b %d %Y") %>*
  <% end %>
  <%= link_to "Save", applications_path(job: job, user: @current_user), :method => :post, class:'btn btn-success btn-sm' %>
  <% if @current_user.admin? %>
  <%= link_to "Delete Job", job, :method => :delete, :confirm => "Are you sure?", class:'btn btn-danger btn-sm' %>
  <% end %>
</li>
<br/>
<% end %>
